# =========================================
# ROOT
# =========================================

.DS_Store
Thumbs.db

# =========================================
# ENV
# =========================================

.env
*.env
*.local

# =========================================
# NODE
# =========================================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================================
# EXPO
# =========================================

.expo/
.expo-shared/
dist/
web-build/

# =========================================
# BUILD
# =========================================

build/
coverage/
*.tsbuildinfo

# =========================================
# IDE
# =========================================

.idea/
.vscode/

# =========================================
# MAC / WINDOWS
# =========================================

*.swp
*.swo

# =========================================
# SERVER
# =========================================

apps/server/node_modules/
apps/server/dist/

# =========================================
# MOBILE
# =========================================

apps/mobile/node_modules/

apps/mobile/.expo/

apps/mobile/dist/

# =========================================
# SHARED PACKAGE
# =========================================

packages/shared/*

!packages/shared/menu.json
!packages/shared/schema.sql

# =========================================
# DATABASE / PRIVATE
# =========================================

packages/shared/schema_organized.sql

# =========================================
# IMAGES
# =========================================

packages/shared/*.png